.inputBoxDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  min-height: 300px;
  min-width: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
  /* border: 2px solid white; */
  border-radius: 8px;
  /* background-color: #e76d89; */
  background: rgb(12,160,164);
  background: linear-gradient(280deg, rgba(12,160,164,.5) 17%, rgba(78,71,159,.5) 95%);
}

.inputText {
  font-family: Lato, sans-serif;
  line-height: 20px;
  font-size: 18px;
  width: 250px;
  margin: 5px;
}

.loginTextHeader {
  color: white;
  text-align: center;
  margin-top: 15px;
}

.outerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: calc(1.5rem - 50%); */
  margin-top: 15vh;
}

.overallLogin {
  height: 100%;
  width: 100%;
}

.loginBtn {
  margin: 5px;
  background-color: #63bed4;
  border: none;
}

.loginBtn:hover {
  /* background-color: #1d1145 !important; */
  text-align: center;
  color: rgb(38, 38, 160);
  font-size: large;
}

#linkSpan {
  /* color: #f2a1a1; */
  /* color: #e76d89; */
  color: white;
  margin: 10px;
  text-align: center;
}

#loginHeader {
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 2pc;
  /* background-color: #0db4b9; */
  background: rgb(57,47,106);
    background: linear-gradient(90deg, rgba(57,47,106,1) 41%, rgba(0,0,0,1) 100%);
  font-family: Lato, sans-serif;
  /* position: fixed; */
}

.coloredLink {
  color: #1d1145 !important;
}
