.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  height: 100vh;
  width: auto;
  color: white;
}

#homeImgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15vh;
  margin-top: 10vh;
  color: #e76d89;
}

/* 
Color Theme

Deep Purple: #1d1145
Trapper Keeper Green: #0db4b9
Pink boot: #f2a1a1
Modern Pink Backpack: #e76d89
*/

.menuItemWrapperCard .card-header {
  /* background-color: #0db4b9 !important; */
  background-color: #63bed4 !important;
  color: white !important;
  font-weight: 600;
}

.menuItemWrapperCard {
  background-color: transparent !important;
}

.menuItemWrapperCard .card-body {
  /* background-color: #1d1145 !important; */
  background: rgb(12, 160, 164);
  background: linear-gradient(
    0deg,
    rgba(12, 160, 164, 0.5) 17%,
    rgba(78, 71, 159, 1) 95%
  );
  padding: 0.5rem;
}

.flex-box {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around;  */
  height: 100%;
  width: auto;
}
#languageDropdownDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.languageItem {
  width: 180px !important;
  justify-content: center;
}
/* 
.dropdownItemDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */
.languageButton > button {
  /* background-color: #0db4b9 !important;  */
  color: white;
  border: none;
}

.languageButton:focus {
  border: none;
}

.mainHeader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #1d1145;
}

.headerDiv {
  padding: 1.5rem;
  text-align: center;
}

#qrTitle {
  font-size: 25px;
}

#restaurantName {
  /* line-height: 30px;
  font-size: 25px; */
  /* color: #1d1145; */
  /* color: #0db4b9; */
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 25px;
  font-size: 22px;
}

.homeIcon {
  height: 120px !important;
  width: 120px !important;
  border-radius: 12px;
}

#menuCardsDiv {
  overflow-y: scroll;
  color: white;
  margin-top: 5%;
  height: 70vh;
  justify-content: start !important;
}
#menuCardsDiv::-webkit-scrollbar {
  display: none;
}

.itemDescription {
  width: 100vw;
  margin: 2rem;
  padding: 1rem;
  margin-bottom: 30%;
}

#itemPrice,
#itemName {
  margin-bottom: 5%;
}

#itemName,
#itemPrice,
.itemDescription {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.itemCard {
  text-align: center;
  /* height: 75px; */
  border: 1px solid #8dcada;
  border-radius: 12px;
  margin: 0.5rem;
  /* background-color: #1d1145; */
  background-color: #63bed4;
  padding: 0.5rem;
  color: #1d1145;
}

.itemText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.button-box {
  display: flex;
  margin-top: 5%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.buttonSize {
  width: 90px;
}

.menuAccordion {
  max-height: calc(100vh - 230px);
  /* padding-bottom: 400px; */
  /* height: 70vh; */
  overflow-y: scroll !important;
  padding-bottom: 5vh;
  /* -ms-overflow-style: none; 
  scrollbar-width: none;  */
}

.menuAccordion::-webkit-scrollbar {
  display: none;
}

.smallDescriptionText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.searchDiv {
  /* display: flex; */
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 4%;
}

.inputBox {
  width: 100%;
  border-radius: 12px;
  border: none;
  line-height: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.inputBox:focus {
  outline: none !important;
}

.wide {
  width: 100vw;
  /* background-color: #0db4b9; */
  background: rgb(57, 47, 106);
  background: linear-gradient(
    90deg,
    rgba(57, 47, 106, 1) 41%,
    rgba(0, 0, 0, 1) 100%
  );
}

.searchTerms:hover {
  cursor: pointer;
}

.outerFullMenuDiv {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

#spinner {
  font-size: 60px;
  height: 150px;
  width: 150px;
  color: white;
}

#spinnerDiv {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#spinnerText {
  color: white;
  line-height: 25px;
  font-size: 22px;
  margin-top: 20px;
}
