.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: auto;
  color: white;
}

#homeImgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15vh;
  margin-top: 10vh;
  color: #e76d89;
}

.menuItemWrapperCard .card-header {
  background-color: #63bed4 !important;
  color: white !important;
  font-weight: 600;
}

.menuItemWrapperCard {
  background-color: transparent !important;
}

.menuItemWrapperCard .card-body {
  background: rgb(12, 160, 164);
  background: linear-gradient(
    0deg,
    rgba(12, 160, 164, 0.5) 17%,
    rgba(78, 71, 159, 1) 95%
  );
}

.food {
  height: auto;
  width: 60vw;
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: auto;
}
#languageDropdownDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.languageItem {
  width: 180px !important;
  justify-content: center;
}

.languageButton > button {
  color: white;
  border: none;
}

.languageButton:focus {
  border: none;
}

.mainHeader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #1d1145;
}

.headerDiv {
  padding: 1.5rem;
  text-align: center;
}

#newHeader {
  height: 8vh !important;
}

#qrTitle {
  font-size: 25px;
}

#restaurantName {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 25px;
  font-size: 22px;
}

.homeIcon {
  height: 120px !important;
  width: 120px !important;
  border-radius: 12px;
}

#menuCardsDiv {
  overflow-y: scroll;
  color: white;
  max-height: 70vh;
  height: auto;
  justify-content: start !important;
}
#menuCardsDiv::-webkit-scrollbar {
  display: none;
}

#menuSingleItemDiv {
  overflow-y: scroll;
  color: white;
  height: 70vh;
  justify-content: start !important;
}

.itemDescription {
  width: 100vw;
  margin: 1rem;
  padding: 0.5rem;
}

#actualDescription,
#itemPrice {
  margin: 0;
}

#actualDescription {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

#itemName,
#itemPrice,
.itemDescription {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.itemHeaderName {
  width: 85%;
  font-weight: bold;
  background-image: linear-gradient(
    65.5deg,
    rgba(23, 205, 205, 1) -15.1%,
    rgba(23, 25, 95, 1) 71.5%
  );

  border-radius: 16px;
}

.itemCard {
  text-align: center;
  border-radius: 12px;
  margin: 0.5rem;
  background-color: #63bed4;
  padding: 0.5rem;
  color: black;
}

.itemText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.buttonSize {
  width: 90px;
}

.menuAccordion {
  max-height: calc(100vh - 230px);
  overflow-y: scroll !important;
  padding-bottom: 5vh;
}

.menuAccordion::-webkit-scrollbar {
  display: none;
}

.smallDescriptionText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.searchDiv {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 4%;
}

.inputBox {
  width: 100%;
  border-radius: 12px;
  border: none;
  line-height: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.inputBox:focus {
  outline: none !important;
}

.wide {
  width: 100vw;
  background: rgb(57, 47, 106);
  background: linear-gradient(
    90deg,
    rgba(57, 47, 106, 1) 41%,
    rgba(0, 0, 0, 1) 100%
  );
}

.searchTerms:hover {
  cursor: pointer;
}

.outerFullMenuDiv {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

#spinner {
  font-size: 60px;
  height: 150px;
  width: 150px;
  color: white;
}

#spinnerDiv {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#spinnerText {
  color: white;
  line-height: 25px;
  font-size: 22px;
  margin-top: 20px;
}
