.centerMenuDiv {
  width: 40vw;
  /* margin-top: 40px; */
  margin-bottom: 5vh;
}

.editMenuDiv {
  height: 100%;
  width: 100%;
  padding-right: 17px;
  box-sizing: content-box;
  overflow-y: scroll;
}

#outerCenter {
  display: flex;
  justify-content: space-evenly;
}

#spacer {
  width: 100vw;
  height: 40px;
}

#editMenuButtonDiv {
  display: flex;
  width: 40vw;
  /* max-height: 40vw; */
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: center;
  position: sticky;
}

.editMenuBtns {
  width: 15vw;
  margin: 10px;
  max-height: 40px !important;
}

.btnRow {
  display: flex;
  width: 34vw;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.editInput{
  background-color: white;
}