
.App {
  margin: 0px;
  height: 100vh !important;
  /* overflow-y: hidden; */
  /* background-color: #0db4b9; */
  background-color: #1d1145 !important;
  font-family: Lato, sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
  display: none;
}

.navbar-color-1 {
  background-color: #221b45;
  /* color: white; */
}
