.App {
  margin: 0px;
  height: 100vh !important;
  overflow-y: hidden;
  /* background-color: #0db4b9; */
  /* background-color: #1d1145 !important; */
  background: rgb(34,27,69);
  background: linear-gradient(70deg, rgba(34,27,69,.7) 17%, rgba(117,71,159,.7) 100%);
  font-family: Lato, sans-serif;
  overflow: hidden;
}
/* 
body::-webkit-scrollbar {
  width: 1em;
  display: none;
} */

.navbar-color-1 {
  background-color: #221b45;
  /* color: white; */

}
