.App {
  margin: 0px;
  height: 100vh !important;
  overflow-y: hidden;
  background: rgb(34, 27, 69);
  background: linear-gradient(
    70deg,
    rgba(34, 27, 69, 0.7) 17%,
    rgba(117, 71, 159, 0.7) 100%
  );
  font-family: Lato, sans-serif;
  overflow: hidden;
}

.navbar-color-1 {
  background-color: #221b45;
}
